<h1>Vista de prueba de dataLoading</h1>
<!-- app/views/registros/new.html.erb -->
<div class="row">
  <div class="col-md-3">
    <%= render 'form', registro: dataloading %>
  </div>
  <div class="col-md-7">
    <!-- Aquí puedes agregar otros elementos o dejarlo vacío para solo el formulario -->
  </div>
</div>