<!-- app/views/main/Home.html.erb -->

<h1>Bienvenido a la página principal</h1>

<%= link_to 'Nuevo DataLoading', new_data_loading_path, class: 'btn btn-primary' %>

<%= link_to 'labelImg', labelImg_path, class: 'btn btn-primary' %>
<%= link_to 'test', test_path, class: 'btn btn-primary' %>
